---
import type { CollectionEntry } from "astro:content";
import Footer from "../components/Footer.astro";
import Author from "../components/Author.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { BackIcon } from "../components/icons/BackIcon";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, author } = Astro.props;
---

<Layout title={title} description={description}>
  <div class="px-10 pb-10">
    <a
      href="/"
      class="flex w-fit items-center self-start space-x-2 no-underline pb-10"
    >
      <BackIcon customClassName="transition duration-300 hover:scale-110" />
      <span>Blog</span>
    </a>
    <h1>{title}</h1>
    <div class="flex flex-col">
      <FormattedDate date={pubDate} />
      {
        updatedDate && (
          <div class="last-updated-on">
            Last updated on <FormattedDate date={updatedDate} />
          </div>
        )
      }
      <Author author={author} />
    </div>
    <hr />
    <slot />
  </div>
  <Footer />
</Layout>
